.letter
{
   color: rgb(8, 8, 8);
   font-family: 'Abril Fatface', cursive;
   background-color: aqua;
   text-align: center;
}
#btn:active
{
   font-size:11px;

}
.btnc
{
  background-color: rgb(255, 234, 0);
}
.btc
{
   background-color: aquamarine;
}
.btn
{
   background-color: rgb(98, 72, 214);
}
